@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  background-color: #00030f;
}

#header-gradient {
  box-shadow: inset 0 0 0 2px transparent, inset 0 0 0 4px transparent,
    inset 0 0 0 6px transparent, inset 0 0 0 8px transparent, 0 0 0 2px #c583d4,
    0 0 0 4px #96b8f8;
  border-radius: 90px !important;
}

#line-container {
  height: 200px; /* Çizginin görüneceği alanın yüksekliği */
  overflow: hidden; /* Taşma durumunda içeriği gizle */

  /* Çizgiyi dikey olarak ortalamak için gereken stil */
  display: flex;
  align-items: center;
}

#line {
  width: 1px; /* Çizgi genişliği */
  height: 187px; /* Çizgi uzunluğu */

  /* CSS Animasyonu */
  animation: moveDown 3s linear infinite;
}

/* CSS Animasyonu tanımı */
@keyframes moveDown {
  50% {
    transform: translateY(-100%); /* Yukarıda başlayacak */
  }
  50% {
    transform: translateY(100%); /* Aşağıda sonlanacak */
  }
  100% {
    transform: translateY(100%); /* Yukarıda tekrar başlayacak */
  }
}

